- name: Determine Elasticsearch version based on cluster type
  set_fact:
    es_version: >-
      {%- if group_names | select('search', '-upgrade$') | list | length > 0 -%}
        {{ elastic_search_version_upgrade }}
      {%- elif 'demo-int' in group_names -%}
        {{ elastic_search_version_demo_int }}
      {%- else -%}
        {{ elastic_search_version }}
      {%- endif -%}

- name: Download Elasticsearch .deb package
  ansible.builtin.shell: |
    wget -O "/tmp/{{ es_version }}" \
         "{{ elastic_search_url_base }}/{{ es_version }}"
  args:
    creates: "/tmp/{{ es_version }}"
  check_mode: no # Allow actual download even in check mode

- name: Set permissions on downloaded package
  ansible.builtin.file:
    path: "/tmp/{{ es_version }}"
    mode: '0644'
  check_mode: no

- name: Download Elasticsearch checksum file
  ansible.builtin.shell: |
    wget -O "/tmp/{{ es_version }}.sha512" \
         "https://artifacts.elastic.co/downloads/elasticsearch/{{ es_version }}.sha512"
  args:
    creates: "/tmp/{{ es_version }}.sha512"
  check_mode: no  # Allow download of checksum in dry-run

- name: Set permissions on checksum file
  ansible.builtin.file:
    path: "/tmp/{{ es_version }}.sha512"
    mode: '0644'
  check_mode: no

- name: Verify checksum of the downloaded package
  ansible.builtin.shell: |
    cd /tmp
    sha512sum -c "{{ es_version }}.sha512"
  register: checksum_output
  failed_when: checksum_output.rc != 0
  when: not ansible_check_mode  # Skip during dry-run
- name: Install Elasticsearch deb package
  ansible.builtin.apt:
    deb: "/tmp/{{ es_version }}"
    state: present
  when: not ansible_check_mode  # Skip actual install during dry-run

- name: Show variables
  debug:
    msg:
      elastic_search_version: "{{ elastic_search_version }}"
      checksum_url: "{{ checksum_url }}"
      group_name: "{{ group_names[0] }}"
      jvm_custom_options: "{{ jvm_custom_options }}"
      rolling_upgrade: "{{ rolling_upgrade }}"

- name: Determine Elasticsearch config template based on cluster type
  set_fact:
    es_config_template: >-
      {%- if group_names | select('search', '-upgrade$') | list | length > 0 -%}
        elasticsearch-upgrade.yml.j2
      {%- elif 'demo-int' in group_names -%}
        elasticsearch-demo-int.yml.j2
      {%- else -%}
        elasticsearch.yml.j2
      {%- endif -%}

- name: Download Elasticsearch {{ elasticsearch_package }} package
  ansible.builtin.get_url:
    url: "{{ elasticsearch_url_base }}/{{ elasticsearch_package }}"
    dest: "/tmp/{{ elasticsearch_package }}"
    mode: '0644'
    checksum: "sha512:{{ lookup('url', checksum_url).split()[0] }}"
  check_mode: no # Allow actual download even in check mode


- name: Configure Elasticsearch settings
  ansible.builtin.template:
    src: "{{ es_config_template }}"
    dest: "/etc/elasticsearch/elasticsearch.yml"
    mode: '0644'
    owner: root
    group: root

- name: Create systemd override directory for Elasticsearch
  ansible.builtin.file:
    path: /etc/systemd/system/elasticsearch.service.d
    state: directory
    mode: '0755'
  when: not ansible_check_mode


- name: Set LimitMEMLOCK in systemd override
  ansible.builtin.copy:
    dest: /etc/systemd/system/elasticsearch.service.d/override.conf
    content: "{{ service_override }}"
    mode: '0644'


- name: Create custom JVM options file
  ansible.builtin.copy:
    dest: /etc/elasticsearch/jvm.options.d/custom.options
    content: "{{ jvm_custom_options }}"
    mode: '0644'
    owner: root
    group: root
  when: not ansible_check_mode


- name: Disable shard allocation
  ansible.builtin.uri:
    url: "http://localhost:9200/_cluster/settings"
    method: PUT
    body_format: json
    body:
      persistent:
        cluster.routing.allocation.enable: "primaries"
  when:
    - rolling_upgrade | bool
    - not ansible_check_mode
    - inventory_hostname == groups[group_names[0]] | first


- name: Attempt synced flush
  ansible.builtin.uri:
    url: "http://localhost:9200/_flush/synced"
    method: POST
  register: synced_flush
  failed_when: false
  changed_when: synced_flush.status is defined and synced_flush.status == 200
  when:
    - rolling_upgrade | bool
    - not ansible_check_mode
    - inventory_hostname == groups[group_names[0]] | first


- name: Stop Elasticsearch for upgrade
  ansible.builtin.systemd:
    name: elasticsearch
    state: stopped
    enabled: yes
  when: not ansible_check_mode  # Skip actual restart during dry-run


- name: Install Elasticsearch deb package
  ansible.builtin.apt:
    deb: "/tmp/{{ elasticsearch_package }}"
    state: present
  when: not ansible_check_mode  # Skip actual install during dry-run


- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes
  when: not ansible_check_mode


- name: Restart Elasticsearch to apply changes
  ansible.builtin.systemd:
    name: elasticsearch
    state: started
    enabled: yes
  when: not ansible_check_mode  # Skip actual restart during dry-run


- name: Wait for Elasticsearch service after restart
  ansible.builtin.wait_for:
    host: localhost
    port: 9200
    delay: 5
    timeout: 300
  when: not ansible_check_mode


- name: Re-enable shard allocation
  ansible.builtin.uri:
    url: "http://localhost:9200/_cluster/settings"
    method: PUT
    body_format: json
    body:
      persistent:
        cluster.routing.allocation.enable: null
    timeout: 300
  when:
    - rolling_upgrade | bool
    - not ansible_check_mode
    - inventory_hostname == groups[group_names[0]] | last


- name: Wait for cluster to become green
  ansible.builtin.uri:
    url: "http://localhost:9200/_cluster/health"
    method: GET
  register: cluster_health
  until: cluster_health.json.status == "green"
  retries: 30
  delay: 20
  when:
    - rolling_upgrade | bool
    - not ansible_check_mode
    - inventory_hostname == groups[group_names[0]] | last