---
- name: Upgrade ansible
  import_tasks: 1_install.yml
  when: elasticsearch_task_phase == "upgrade"

- name: Reindex to new version
  import_tasks: 2_reindex.yml
  when: elasticsearch_task_phase == "reindex"
