- name: Get latest backing index
  uri:
    url: "{{ es_url }}/_cat/indices/{{ ds_index }}?h=index&s=index&format=json"
    method: GET
  register: backing_indices

- include_tasks: get_index_version.yml
  vars:
    index_name: "{{ backing_indices.json[-1].index }}"

- name: Rollover DS streams
  uri:
    url: "{{ es_url }}/{{ ds_index }}/_rollover"
    method: POST
  when: index_version < elasticsearch_major_version
