# elasticsearch.yml.j2
cluster.name: "{{ elastic_clustername }}"
node.name: "{{ ansible_hostname }}"
path.logs: /var/log/elasticsearch
path.data: {{ es_data_path }}

# Discovery settings
discovery.seed_hosts: {{ groups[group_names[0]] | map('extract', hostvars, 'ansible_hostname') | list | to_json }}
{% if bootstrap %}
cluster.initial_master_nodes: {{ groups[group_names[0]] | map('extract', hostvars, 'ansible_hostname') | list | to_json }}
{% endif %}

node.roles: [master, data, ingest]

network.host: [_site_, _local_]

# Availability zone awareness
node.attr.fault_domain: {{ fault_domain }}
node.attr.update_domain: {{ update_domain }}
cluster.routing.allocation.awareness.attributes: fault_domain,update_domain

action.auto_create_index: .security*,.monitoring*,.kibana*,.watches,.triggered_watches,.watcher-history*,.logstash_dead_letter,.ml*
xpack.security.enabled: false

script.allowed_types: inline
script.allowed_contexts: template, ingest, watcher_condition

ingest.geoip.downloader.enabled: false
bootstrap.memory_lock: true