# elasticsearch.yml.j2
cluster.name: "{{ elastic_clustername }}"
node.name: "{{ ansible_hostname }}"
path.logs: /var/log/elasticsearch
path.data: /datadisks/disk1/elasticsearch/data
discovery.seed_hosts: ["ccd-data-0", "ccd-data-1", "ccd-data-2", "ccd-data-3"]
cluster.initial_master_nodes: ["ccd-data-0", "ccd-data-1", "ccd-data-2", "ccd-data-3"]
node.roles: [master, data]
network.host: [_site_, _local_]
node.attr.fault_domain: 1
node.attr.update_domain: 1
cluster.routing.allocation.awareness.attributes: fault_domain,update_domain
action.auto_create_index: .security*,.monitoring*,.kibana*,.watches,.triggered_watches,.watcher-history*,.logstash_dead_letter,.ml*
xpack.security.enabled: false
script.allowed_types: inline
script.allowed_contexts: template, ingest
ingest.geoip.downloader.enabled: false
bootstrap.memory_lock: true
