# elasticsearch-demo-int.yml.j2
cluster.name: "{{ elastic_clustername }}"
node.name: "{{ inventory_hostname }}"
path.logs: /var/log/elasticsearch
path.data: {{ es_data_path }}
discovery.seed_hosts: {{ groups[group_names[0]] }}
{% if bootstrap %}
cluster.initial_master_nodes: {{ groups[group_names[0]] }}
{% endif %}
node.roles: [master, data]
network.host: [_site_, _local_]
node.attr.fault_domain: 1
node.attr.update_domain: 1
cluster.routing.allocation.awareness.attributes: fault_domain,update_domain
action.auto_create_index: .security*,.monitoring*,.kibana*,.watches,.triggered_watches,.watcher-history*,.logstash_dead_letter,.ml*
xpack.security.enabled: false
script.allowed_types: inline
script.allowed_contexts: template, ingest
ingest.geoip.downloader.enabled: false
bootstrap.memory_lock: true
