# elasticsearch-upgrade.yml.j2 - Elasticsearch 9.x configuration for upgrade clusters
cluster.name: "{{ elastic_clustername }}"
node.name: "{{ ansible_hostname }}"
path.logs: /var/log/elasticsearch
path.data: /datadisks/disk1/elasticsearch/data

# Discovery settings - dynamically build list of upgrade cluster nodes
{% set upgrade_nodes = [] %}
{% for host in groups['all'] %}
{% if hostvars[host]['group_names'] | select('search', '-upgrade$') | list | length > 0 %}
{% set _ = upgrade_nodes.append(hostvars[host]['ansible_hostname']) %}
{% endif %}
{% endfor %}
discovery.seed_hosts: {{ upgrade_nodes | to_json }}
cluster.initial_master_nodes: {{ upgrade_nodes | to_json }}

# Node roles
node.roles: [master, data, ingest]

# Network settings
network.host: [_site_, _local_]
node.max_local_storage_nodes: 1

# Availability zone awareness
node.attr.fault_domain: 1
node.attr.update_domain: 1
cluster.routing.allocation.awareness.attributes: fault_domain,update_domain

# Auto-create index patterns
action.auto_create_index: .security*,.monitoring*,.kibana*,.watches,.triggered_watches,.watcher-history*,.logstash_dead_letter,.ml*

# X-Pack settings for Elasticsearch 9.x
xpack.monitoring.collection.enabled: true
xpack.security.enabled: false

# Scripting
script.allowed_types: inline
script.allowed_contexts: template, ingest

# GeoIP downloader
ingest.geoip.downloader.enabled: false

# Memory lock
bootstrap.memory_lock: true